<section class="section summary-section">
<h2 class="section-title"><!--<i class="fa fa-user"></i>Career Profile--></h2>
<div class="summary">
  <p>
  I am a Research Associate in
  <b><a href="https://netlab.dcs.gla.ac.uk/funding/epsrc-the-federated-raspberrypi-micro-infrastructure-testbed">
  FR&mu;IT project: The Federated RaspberryPi Micro-Infrastructure Testbed</a></b>.
  We aim to connect hundreds or thousands of <b>micro-datacenters</b> to produce a federated, geo-distributed
  testbed. The main challenge will be the management of the underlying infrastructure, particular given
  complexities in the networking fabric, hardware constraints, and failure scenarios.
  We aim to set the Guinness World Record for the <b>Largest Raspberry Pi Cluster</b>!
  Our goal is <b>10,000 nodes</b>.
  </p>
  <p>
  Previously, I was a Research Scientist at Hewlett Packard Labs in Bristol for 2 years,
  developing a declarative management system for The Machine. I also led the Smart Room
  project to control and monitor IoT devices (screens, lightings, sensors, etc) in a
  large-size room using web, email, and voice.
  </p>
  <p>
  Beforehand, I was a software engineer for a private company in Mexico developing a Geospatial Data mining
  system for property.
  </p>
  <p>
  When I was in Indonesia, I was a lecturer at Faculty of Computer Science, Universitas Indonesia, and
  a software engineer at several private companies developing Enterprise Resource Planning
  and Fuel Station management systems.
  </p>
  <p>
  I received my PhD in AI from School of Informatics, University of Edinburgh, with thesis
  <i><a href="http://homepages.inf.ed.ac.uk/s0978621/herry-thesis.pdf">
  "Automated Planning for Cloud Service Configurations"</a></i> (you can visit my
  old website <a href="http://homepages.inf.ed.ac.uk/s0978621/">here</a>), and
  MSc & BSc in Computer Science from Faculty of Computer Science, Universitas Indonesia.
  During the MSc program, I was a visiting research student at Imaging Science and Engineering Lab,
  Tokyo Institute of Technology.
  </p>
  <p>
  I am a football fan, and love travelling.
  </p>
</div><!--//summary-->
</section><!--//section-->