 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Artificial Intelligent</h4>
    <h5 class="meta">University of Edinburgh</h5>
    <div class="time">2010 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MSc & BSc in Computer Science</h4>
    <h5 class="meta">Universitas Indonesia</h5>
    <div class="time">1998 - 2004</div>
</div><!--//item-->
</div><!--//education-container-->